---
import "../styles/style.css";
import Hero from "../components/Hero.astro";
import NavBar from "../components/NavBar.astro";
import TekstBlock from "../components/TekstBlock.astro";
import ProductGrid from "../components/ProductGrid.astro";
import ImageTekstSection from "../components/ImageTekstSection.astro";
import EventSection from "../components/EventSection.astro";
import TekstBoks from "../components/TekstBoks.astro";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plugin Heat Club x Bareen</title>
    <script src="/js/script.js" type="module"></script> 
  </head>

  <body>
    <NavBar />
    <Hero />
    <TekstBlock />
    <ProductGrid />
    <ImageTekstSection />
    <EventSection />
    <TekstBoks />
    <Footer />
  </body>
</html>

