---
import CtaKnap from "../components/CtaKnap.astro"
---
<div class="footer">
<div>
<p>GÅ ALDRIG GLIP AF NOGET</p>
<p>BLIV MEDLEM AF NYHEDSBREV</p>
</div>

<div class="kontakt_container">
    <h5></italic>Kontakt</italic></h5>
<p>Spørgsmål vedrørende handelsbetingelser, betalingsservice, privatlivspolitik, størrelser, fit osv. kan stilles via kundeservice live chat (inden for åbningstider) eller på e-mail via info@bareen.dk
</p>
<p>Vi stræber os efter at besvare din henvendelse hurtigst muligt.</p>

<div>
<h2>Åbningstider for kundeservice (e-mail / live chat):</h2>
<p>Man - Fre: 9:00 - 16:00</p>
<p>Lør - Søn: Lukket</p>
<p>Helligdage: Lukket</p>
  <div class="cta_knap"><CtaKnap titel="Kontakt os"></CtaKnap></div>
</div>
</div>
</div>

<style>
    h5{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    }
    .footer{
        background-color: #FFF7F3;
    }
</style>