<div class="imagetekstsection_container">
    <div class="tekst_container">
        <h2>Plugin Heat Club – varme, rytme og fællesskab</h2>
        <p> Siden 2019 har Plugin Heat Club redefineret sauna gus-oplevelsen i Danmark. Med en unik kombination af varme, musik, bevægelse og æstetik har Plugin skabt en atmosfære, hvor krop og sind smelter sammen i én stærk, sanselig oplevelse. Her er gus ikke bare noget, man deltager i – det er noget, man mærker.

Plugin handler om mere end bare sved og æteriske olier. Det er et community, et ritual, og en måde at udtrykke sig på. Fra intense sessioner til nøje udvalgt musik og koreograferede bevægelser – alt er gennemført med omtanke og passion.

Samarbejdet med Bareen er en naturlig forlængelse af den energi. En kollektion, der spejler Plugin Heat Clubs visuelle og fysiske univers – skabt til dem, der lever livet med varme og nerve.</p>
    </div>
    <img src="/public/img/tekstboks.webp" alt="">
</div>

<style>
.imagetekstsection_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 6rem;
    padding-inline: 7vw;
    gap: 7vw    ;
    align-items: center;
}

@media (max-width: 800px) {
    .imagetekstsection_container {
        grid-template-columns: 1fr; 
        padding: 0; 
    }

    .imagetekstsection_container img {
        width: 100%; 
    }

    .tekst_container {
        padding: 2rem;
    }
}
</style>