<div class="sektion_container">
    <div class="tekst_container"><h2>Komfort og balance</h2>
    <p>Bareen og Plugin Heat Club forener kræfterne i et eksklusivt samarbejde, hvor selvforkælelse og fashion smelter sammen. Gennem unikke events, saunagus-oplevelser og limited edition produkter skaber vi et univers, hvor ro, nærvær og æstetik går hånd i hånd – både fysisk og digitalt.Tag en dyb indånding. 
Strål indefra og ud med Plugin Heat Club x Bareen.</p></div>
    <div class="illustreret_tekst">
        <h4>PLUGIN HEAT <br> CLUB <br> X <br> BAREEN® </h4>
    </div>
</div>

<style>
.sektion_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.tekst_container {
    padding-left: 7vw;
    padding-block: 5rem; 
}

.illustreret_tekst {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding-block: 6rem; 
}

@media (max-width: 800px) {
    .sektion_container {
        grid-template-columns: 1fr; 
    }

    .tekst_container, .illustreret_tekst {
        padding-inline: 2rem; 
        padding-block: 3rem;
    }


    .illustreret_tekst {
        padding-top: 5rem;
        order: -1; 
    }
}



</style>